/* ページ送りを中央寄せ */
.pagination {
    text-align: right;
}

/* ページ送りを横並びに */
.pagination li{
    display: inline-block;
}


  /* ▼入力チェック結果の表示ボックスの装飾 */
.alertarea {
   color: red;                             /* 文字色(赤色) */
   background-color: #fee;                 /* 背景色(淡い赤色) */
   background-image: url("alerticon.png"); /* 背景画像(警告アイコンを表示) */
   background-repeat: no-repeat;           /* 背景画像の繰り返しをナシに */
   background-position: 0.35em center;     /* 背景画像の掲載位置(左端から0.35em・上下方向の中央) */
   display: inline-block;                  /* インラインブロック化 */
   border-radius: 0.5em;                   /* 角丸(半径0.5文字分) */
   margin-left: 0.5em;                     /* 外側左端の余白(0.5文字分) */
   padding: 1px 0.5em 1px 32px;            /* 内側の余白(警告アイコンに重ならないよう左端に多めの余白を設ける) */
}
/* ▼入力チェック結果でエラーがない場合は非表示にする */
.alertarea:empty { display: none; }


.balloonoya {
  position   : relative;                /* 指定した分だけ相対的に移動 */
}
.balloonoya:hover .balloon {
  display: inline;                /* インライン要素として表示 */
}
.balloon {
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgb(142, 238, 130);       /* 背景色（透明度） */
  width:280px;                          /* 吹き出し全体の幅 */
  left : -85%;                           /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
  z-index: 1;
  
}

.balloon:after{
  border-left: 12px solid #66ff66;   /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
  right: -12px;                           /* 吹き出し口の位置調整 */
  top: 5%;                                /* 吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.admin_title
{
  font-size:24px;
  text-align: center;
}

.submit
{
  text-align: center;
}
.reset
{
  text-align: center;
}

.contact_table
{
  border-collapse: separate;
  border-spacing: 10px;
  text-align: left;
}

.admin_main
{
  display: grid;
  width: 100%;
  border: 2px solid #000000;

}

.contact_title
{
  font-size:24px;
  text-align: center;
}

.contact_main
{
  display: grid;
  width: 95%;
  text-align: center;
}

textarea {
  resize: none;
  width:350px;
  height:100px;
}

.contact_form{
 width: fit-content;
 margin: auto;
}

.admin_form{
 width: fit-content;
 margin: auto;
}

.admin_contact{

  width: fit-content;
 
  margin: 20px 50px 20px;
}

.example
{
  border: none;
  color:rgb(153, 158, 158)
}
.thanks{
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 40px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.btn:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.btn2 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 20px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.btn2:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.red{
 color:red;

}